h1= @song.title
p Release date: #{@song.released_on.strftime("%e %B %Y") if @song.released_on}
p Length: #{@song.length/60} minutes #{@song.length%60} seconds
pre= @song.lyrics
p <a href="/songs">Back to songs list</a>
p <a href="/songs/#{@song.id}/edit">Edit this song</a>
form action="/songs/#{@song.id}" method="post"
  input type="hidden" name="_method" value="delete"
  input type="submit" value="Delete this song"